{% extends "template.html" %}

{% block content %}
<div class="container" style="padding:10px">
    <div class="row" align="center">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1>Text Logs</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <table style="border: 1px solid black;">
                                <tr>
                                    {% for header in headers %}
                                    <th style="border: 1px solid black; padding: 5px;">{{ header|replace('_', ' ')|title  }}</th>
                                    {% endfor %}
                                </tr>
                                {% for row in logs %}
                                <tr>
                                    {% for header in headers %}
                                    <td style="border: 1px solid black; padding: 5px;">{{ row[header] }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}